<div class="content">
  <div class="top">
    <div class="header">
      <h2>Icecream Story CMS</h2>
    </div>
  </div>
  <div class="main">
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Email!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              nzSize="large"
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Forgot Password
      </button>
      <div nz-row class="forgotpassword">
        <a [routerLink]="['/login']">Back to login</a>
      </div>
    </form>
  </div>
</div>
