<div class="ant-pro-page-container-warp">
  <nz-page-header>
    <nz-page-header-title>Products</nz-page-header-title>
    <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
  </nz-page-header>
</div>

<div class="site-page-header-ghost-wrapper">
  <nz-page-header [nzGhost]="false">
    <nz-page-header-extra>
      <nz-select ngModel="">
        <nz-option nzValue="android" nzLabel="Android"></nz-option>
        <nz-option nzValue="iOS" nzLabel="iOS"></nz-option>
        <nz-option nzValue="" nzLabel="All"></nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="showModal()">
        Create New Product
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <div class="inner-content">
    <nz-table
      #basicTable
      nzBordered
      [nzData]="listOfData"
      [nzFrontPagination]="true"
      [nzShowPagination]="true"
      [nzPageSize]="50"
    >
      <thead>
        <tr>
          <th width="10px">Index</th>
          <th>Image ref</th>
          <th>Name</th>
          <th>ProductId</th>
          <th>Type</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Enabled</th>
          <th width="12%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td align="center">{{ i + 1 }}</td>
          <td>
            <img
              src="{{ data.imageUrl }}"
              onError="this.src='/assets/images/no-image-available.jpg'"
              style="width: 120px; height: 120px; object-fit: contain"
            />
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.productId }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.quantity }}</td>
          <td>{{ data.enabled }}</td>
          <td>
            <button
              nz-button
              [nzType]="'primary'"
              (click)="editProducts(data)"
              style="margin-right: 0"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button
              nz-button
              [nzType]="'danger'"
              (click)="deleteProducts(data?._id)"
              style="margin-right: 0"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [nzStyle]="{ top: '20px' }"
  [(nzVisible)]="isVisible"
  nzTitle="Product"
  nzMaskClosable="false"
  nzWidth="600"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired
        >Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your Product Name!"
      >
        <input
          nz-input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Product Name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="productid" nzRequired
        >ProductId</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your Product Id!"
      >
        <input
          nz-input
          type="text"
          id="productid"
          formControlName="productId"
          placeholder="Product Id"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type"
        >Type</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please select your Type!"
      >
        <nz-select
          id="type"
          formControlName="type"
          nzPlaceHolder="Select a option and change input text above"
        >
          <nz-option nzValue="android" nzLabel="android"></nz-option>
          <nz-option nzValue="iOS" nzLabel="iOS"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price"
        >Price</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Price!"
      >
        <nz-input-number
          nz-input
          [nzMin]="1"
          [nzStep]="1"
          style="width: 100%"
          id="price"
          placeholder="Price"
          formControlName="price"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity" nzRequired
        >Quantity</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Quantity!"
      >
        <nz-input-number
          nz-input
          [nzMin]="1"
          [nzStep]="1"
          style="width: 100%"
          id="quantity"
          placeholder="Quantity"
          formControlName="quantity"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="enabled"
        >Enabled</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Enabled!"
      >
        <label nz-checkbox formControlName="enabled"> </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imagefile"
        >Image File for Ref</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input type="file" id="imagefile" />
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
  </ng-template>
</nz-modal>
